div(class="sidebar", id="my-info")
    div(class="sidebar-info-box")
        br
        div(class="thumbnail-box")
            img(class="thumbnail" src="/static/images/avatar.jpg" alt="Profile Pic")
        div(class="dev-intro-box")
            h5 Ismail Aksoy 
            p I am a former captain, current developer, technologist, an entrepreneur at heart with specialized experience in building scalable products and product development teams in fast-changing environments.
            a(href="/about") Learn More &rarr;
