div(class="sidebar", id="my-info")
    div(class="sidebar-info-box")
        br
        div(class="thumbnail-box")
            a(href="/")
                img(class="logo" src="/static/images/logo-sidebar.png" alt="Home")
        div(class="dev-intro-box")
            h5 Ismail Aksoy 
            h6 Former captain, Current developer, Technologist and Entrepreneur
            a(href="/about", class="more_link") Learn More &rarr;
