extends layout.pug 

block content 
    include includes/nav.pug       
    article(class="portfolio-about")
        div(class="inner-wrapper flex-row-wrap two-col")
            div(class="about-intro-box box")
                h1 Ismail Aksoy 
                p Founder and CTO of Maritimetrainer, Java Backend Developer
                p I am passionate about Developer Experience, Digital Transformation, Process Engineering, Open Source, and Java. I love finding new tools and learning how they solve problems in beautiful ways. I also enjoy spending time learning about what people are working on and what they are passionate about. I will take any opportunity to throw ideas on a table (or post-its on a wall) and explore what we come up with to see if we can identify real problems and high-quality solutions.

                h6 Skills
                ul
                    li Java
                    li Spring Framework
                    li Axon Framework
                    li HTML
                    li CSS
                    li Javascript
                    li Python
            div(class="skills-contact-box box")
                img(src="/static/images/avatar.jpg", class="avatar")
                h6 Contact Info 
                ul 
                    li +90 5556667788
                    li info@test.com
                a(class="btn-link", href="https://www.linkedin.com/in/ismailaksoy/", target="_blank") Linkedin
                a(class="btn-link", href="https://github.com/nauticalist", target="_blank") GitHub
                a(class="btn-link", href="https://twitter.com/nauticalist", target="_blank") Twitter
        include includes/nav.pug
                