extends layout.pug 

block content 
    article(class="portfolio-intro")
        h1 Founder and CTO of Maritimetrainer, Java Backend Developer
        p I am passionate about Developer Experience, Digital Transformation, Process Engineering, Open Source, and Java. I love finding new tools and learning how they solve problems in beautiful ways. I also enjoy spending time learning about what people are working on and what they are passionate about. I will take any opportunity to throw ideas on a table (or post-its on a wall) and explore what we come up with to see if we can identify real problems and high-quality solutions.
    
    article(class="portfolio-project-thumbs")
        div(class="projects-box box grid")
            each project in projects
                div(class="cell")
                    a(href=`/projects/${project.id}`)
                        img(class="thumbnail", src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
                        h5= project.project_name