extends layout.pug 

block content 
    article(class="portfolio-intro")
        h1 Founder and CTO at Maritimetrainer
        p I am a former captain, current developer, technologist, an entrepreneur at heart with specialized experience in building scalable products and product development teams in fast-changing environments.

    article(class="portfolio-project-thumbs")
        div(class="projects-box box grid")
            each project in projects
                div(class="cell")
                    a(href=`/projects/${project.id}`)
                        img(class="thumbnail", src=`${project.thumbnail_url}`, alt=`${project.project_name}`)
                        h5= project.project_name