doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ismail Aksoy | Portfolio Site 
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800")
        link(rel="stylesheet", href="/static/css/normalize.css")
        link(rel="stylesheet", href="/static/css/styles.css")    
    body 
        include includes/sidebar.pug
        div(class="wrapper")
            include includes/header.pug
            block content
        include includes/scripts.pug 
